body {
    text-align: center;
}

.odd {
    width: 100px;
    height: 99px;
    background-color: #dfe1e7;
    font: 40px "Tahoma";
    margin: 2% auto;
    border-top: 1px solid #687291;

}

.even {
    width: 100px;
    height: 99px;
    background-color: #eeeff2;
    font: 40px "Tahoma";
    margin: 2% auto;
    border-top: 1px solid #687291;
}

#last {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: #687291;
    font: 40px "Tahoma";
    margin: 2% auto;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}